.slideshow-item {
	flex: 0 0 100%;
	img {
		object-fit: contain;
	}
}

.active-indicator {
	outline: 2px solid var(--theme-dark);
	background-color: var(--theme-beige);
}

.indicator {
	outline: 2px solid var(--theme-beige);
	background-color: var(--theme-dark);
}

.modal-open {
	background-color: var(--theme-dark);
}

.modal-bg {
	background-color: var(--theme-dark);
}
