.border-corner::before,
.border-corner::after {
	transition: all 1s ease-in-out;
	content: "";
	position: absolute;
	width: 40px;
	height: 20px;
	border-color: var(--theme-beige);
	border-style: solid;
	pointer-events: none;
}

.border-corner:hover {
	.border-corner::before,
	.border-corner::after {
		transition: all 1s ease-in-out;
		width: 100%;
		height: 100%;
	}
}

/* Top-left corner */
.border-corner::before {
	top: 0;
	left: 0;
	border-top-width: 2px;
	border-left-width: 2px;
	border-right-width: 0;
	border-bottom-width: 0;
}

/* Bottom-right corner */
.border-corner::after {
	bottom: 0;
	right: 0;
	border-bottom-width: 2px;
	border-right-width: 2px;
	border-left-width: 0;
	border-top-width: 0;
}
