@import "tailwindcss";

:root {
	/* Theme colors */
	--theme-dark: #102820;
	--theme-dark-green: #2f4638;
	--theme-green: #588157;
	--theme-beige: #dad7cd;
	--theme-light-green: #a3b18a;

	background: var(--theme-dark);
	color: var(--theme-beige);

	width: 100vw;
	height: 100vh;

	overflow-x: hidden;

	body {
		height: 100%;
	}

	h1 {
		font-size: clamp(0.5rem, calc(12vw + 1rem), 10rem);
		line-height: 1em;
	}

	h1,
	h2,
	h3,
	a {
		color: var(--theme-light-green);
	}

	.content {
		width: calc(100vw - calc(var(--spacing) * 20));
	}

	.cursor {
		display: none;
	}
}
