@import "tailwindcss";

:root {
	/* Theme colors */
	--theme-dark: #171717;
	--theme-gray: #242424;
	--theme-beige: #c7a98a;
	--theme-light: #dad7cd;
	--theme-light-green: #a3b18a;

	background: var(--theme-dark);
	color: var(--theme-light);

	overflow-x: hidden;

	body {
		height: 100%;
		width: 100%;
	}

	body.modal-open {
		overflow: hidden;
	}

	h1 {
		font-size: clamp(0.5rem, calc(12vw + 1rem), 10rem);
		line-height: 1em;
	}

	h1,
	h2,
	h3,
	a {
		color: var(--theme-beige);
	}

	h2 {
		place-self: center;
		line-height: 1em;
		margin-bottom: 40px;
	}

	.content {
		/* For devices with a minimum width of 768px (Medium) */
		@media screen and (min-width: 768px) {
			width: calc(100vw - calc(var(--spacing) * 20));
		}
	}

	.cursor {
		fill: var(--theme-beige);
	}

	svg {
		fill: var(--theme-light);
	}
}
